.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.navbar nav  ul{
	list-style: none;
}

.navbar nav ul {
	display: flex;
	gap: 50px;
}